<%- include("partials/header"); -%>

<h1>Home</h1>
<p><%= homeStartingContent %></p>

<% posts.forEach((post) => { %>
  <div class="post">
    <h3><%= post.blogTitle %></h3>
    <p><%= post.blogPost.substring(0, 100) + "..." %>
      <a href="/posts/<%= post.blogTitle %>">Read More</a>
    </p>
  </div>
<% }) %>

<%- include("partials/footer"); -%>